<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading text-center account-set-up-titlte">Account Set-up</div>
    <div class="panel-body">
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
        </div>
      </div>

      <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
             <input type="checkbox" > I agree with <a>terms of service</a>
          </div>
        </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <span  class="btn btn-default .account-set-up-titlte"> Account Set-up</span>
        </div>
      </div>

    </div>
  </div>


</div>