

<p class="member">Member Log in</p>
<div align="right">
    <div class="label-padding">
        <label class="label-style" for="email">Email:</label>
          <input type="email"   class="input-style" placeholder="Enter email" name="email">
    
      </div>
      <div class="label-padding">
        <label class="label-style" for="pwd">Password:</label>          
          <input type="password"  class="input-style" placeholder="Enter password" name="pwd">
      </div>
      <div class="label-padding">
          <label class="label-style" for="pwd">Remember me</label>          
            <input type="checkbox"  placeholder="Enter password" name="pwd">
      </div>
      <div class="login-signup col-md-12">
          <span class="btn btn-primary"> Login </span>
          <span class="btn btn-primary" (click)="openDialog()"> Sign Up </span>
      </div>

</div>

