
ul {
    font-size: 13px;
    font-family: Verdana,Helvetica, sans-serif;
    list-style: none;  
    margin: auto;
    text-align: center;
    
}
.list{
    padding-left: 0px;
}
li{
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 600;	
    border-right: 2px solid black;
}
.border-left-home{
    border-left:2px solid black;
}
.row{
    margin:0%;
}
a{
text-decoration: none;
color: black;
}
a:hover{
    background-color: lightgray;
}
li:hover { 
    background-color: lightgray;
}
.cart-style{
    height: 15px;
    width: 20px;
}
