<div class="row background-style">
<div class="col-md-12">
        <ul class="list">
          <!-- <div class="col-md-1"> -->
              <li class="">
                  <a href="#">Home</a>
                </li>
          <!-- </div> -->
          <!-- <div class="col-md-1"> -->
              <li class="">
                  <a href="#">About</a>
                </li>
          <!-- </div> -->
          <!-- <div class="col-md-1"> -->
              <li class="">
                  <a href="#">Product</a>
                </li>
          <!-- </div> -->
          <!-- <div class="col-md-1"> -->
              <li class="">
                  <a href="#">How To Wear</a>
                </li>
          <!-- </div> -->
          <!-- <div class="col-md-1"> -->
              <li class="">
                  <a href="#">Home</a>
                </li>
          <!-- </div> -->

          <!-- <div class="col-md-2"> -->
              <li class="">
                  <a href="#">Contact Us</a>
                </li>
          <!-- </div> -->

          <li class="">
              <a href="#">Login</a>
            </li>

        </ul>

  </div>
</div>